---
import oiauia from "./oia-uia.gif";
---

<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html>
  <body>
    <img src={oiauia.src} />
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>
