---
import "../global.css";
import { Image } from "astro:assets";
import miika from "./miika.jpg";
---

<html>
  <body class="bg-indigo-100 w-full flex items-center justify-center">
    <main class="max-w-lg my-12">
      <div class="flex justify-between">
        <div>
          <h1 class="text-3xl">Miika Leinonen</h1>
          <div class="flex gap-3">
            <a href="https://github.com/miikalei">
              <img src="/src/pages/github.svg" width="30" /></a
            >
            <a href="https://www.linkedin.com/in/miikaleinonen/">
              <img src="/src/pages/linkedin.svg" width="30" />
            </a>
            <a href="/">
              <img src="/src/pages/world.svg" width="30" />
            </a>
          </div>
        </div>
        <Image
          style={{
            clipPath: "circle()",
          }}
          src={miika}
          alt="Image of a handsome young pro, experienced but full of young energy"
          width={150}
        />
      </div>
      <div id="hero" class="flex justify-between items-center">
        <p>
          Hello, My name is Miika. I am a professional software engineer, based
          in Helsinki, Finland. I am serious about honing my craft, and I take
          pride in my producing code that is as stable, performant and secure as
          possible. Welcome to my professional website.
        </p>
      </div>
      <h2 class="text-2xl">Stuff I have built</h2>
      <h3 class="text-xl">Upright</h3>
      <p>
        <a href="https://www.uprightproject.com/">Upright</a> is a company that develops
        a macroeconomic model in order to gain a holistic view on impact footprints
        of products, companies and funds. I joined this adventure in the year 2021,
        and have been mainly focusing on the internal and external web app functionality
        to handle the large amounts of data produced. Visit <a
          href="https://uprightplatform.com/">Upright platform</a
        > to see the results!
      </p>
      <h3 class="text-xl">MLox interpreter</h3>
      <p>
        To follow the excellent book <a href="https://craftinginterpreters.com/"
          >Crafting interpreters</a
        > by Robert Nystrom, I implemented my own mod of the interpreted language
        built in the book. The (toy) language is called mlox, and you can try it
        in the browser
        <a href="/mlox">here</a>. The interpreter is written in Typescript, and
        its source is available <a href="https://github.com/miikalei/mlox"
          >here.</a
        >
      </p>
      <h3 class="text-xl">This website</h3>
      <p>
        The website you are viewing right now is built with Astro and served
        with GitHub pages. See the source <a
          href="https://github.com/miikalei/miikalei.github.io">here</a
        >!
      </p>
      <h3 class="text-xl">Miscellaneous exercises</h3>
      <p>
        I like solving simple structured programming puzzles for the easy
        comparisons to alternative solutions. Check out my <a
          href="https://github.com/miikalei/aoc"
          >Advent of Code solutions (in Rust)</a
        > and <a href="https://github.com/miikalei/project-euler"
          >Project Euler solutions (in Python)</a
        >. I also play CTFs at <a href="https://overthewire.org"
          >Overthewire.org</a
        >.
      </p>
      <h2 class="text-2xl">Education</h2>
      <p>Master of Science at Aalto University</p>
      <h2 class="text-xl">Skills (and their sources)</h2>
      <ul>
        <!-- TODO: Hover-selitteet (ja alleviivaus), mistä taito tulee -->
        <li>HTML/CSS</li>
        <li>PostgreSQL</li>
        <li>Typescript</li>
      </ul>
    </main>
  </body>
</html>
