---
import { Image } from "astro:assets";
import miika from "./miika.jpg";
---

<html>
  <body>
    <div id="midcontainer">
      <div class="flex" style={{ justifyContent: "space-between" }}>
        <div>
          <h1>Miika Leinonen</h1>
          <div class="flex" style={{ gap: "5px" }}>
            <a href="https://github.com/miikalei">
              <img src="/src/pages/github.svg" width="30" /></a
            >
            <a href="https://www.linkedin.com/in/miikaleinonen/">
              <img src="/src/pages/linkedin.svg" width="30" />
            </a>
            <a href="/">
              <img src="/src/pages/world.svg" width="30" />
            </a>
          </div>
        </div>
        <Image
          style={{
            clipPath: "circle()",
          }}
          src={miika}
          alt="Image of a handsome young pro, experienced but full of young energy"
          width={150}
        />
      </div>
      <div id="hero" class="flex">
        <p>
          Hello, My name is Miika. I am a professional software engineer, based
          in Helsinki, Finland. I am serious about honing my craft, and I take
          pride in my producing code that is as stable, performant and secure as
          possible. Welcome to my website.
        </p>
      </div>
      <h2>Projects and activities</h2>
      <h3>Upright</h3>
      <p>
        <a href="https://www.uprightproject.com/">Upright</a> is a company that develops
        a macroeconomic model in order to gain a holistic view on impact footprints
        of products, companies and funds. I joined this adventure in the year 2021,
        and have been mainly focusing on the internal and external web app functionality
        to handle the large amounts of data produced. Visit <a
          href="https://uprightplatform.com/">Upright platform</a
        > to see the results!
      </p>
      <h3>MLox interpreter</h3>
      <p>
        To follow the excellent book <a href="https://craftinginterpreters.com/"
          >Crafting interpreters</a
        > by Robert Nystrom, I implemented my own mod of the interpreted language
        built in the book. The (toy) language is called mlox, and you can try it
        in the browser
        <a href="/mlox">here</a>. The interpreter is written in Typescript, and
        its source is available <a href="https://github.com/miikalei/mlox"
          >here.</a
        >
      </p>
      <h3>Education</h3>
      <p></p>
      <h3>Coding exercises</h3>
      <p>
        I like solving simple structured programming puzzles for the easy
        comparisons to alternative solutions. Check out my <a
          href="https://github.com/miikalei/aoc"
          >Advent of Code solutions (in Rust)</a
        > and <a href="https://github.com/miikalei/project-euler"
          >Project Euler solutions (in Python)</a
        >. I also play CTFs at <a href="https://overthewire.org"
          >Overthewire.org</a
        >.
      </p>
    </div>
  </body>
</html>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

  :root {
    --bg-color: #fbf5dd;
    --main-color: #a6cdc6;
    --highlight-color: #16404d;
    --accent-color: #dda853;
  }
  body {
    font-family: "Rubik";
    font-size: 18px;
    width: 100%;
    background: var(--bg-color);
  }
  #midcontainer {
    margin: 50px auto;
    max-width: 600px;
  }

  #hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
  }

  .flex {
    display: flex;
    align-items: center;
  }
</style>
