---
import "../../global.css";
import "./_win9x-style/theme.css";
import "./_win9x-style/skins/98.css";
import { Codebox } from "./codebox";
---

<html class="h-full">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>MLOX</title>
    </head>
    <body class="desktop h-full flex justify-center items-center">
        <main class="window active grow max-w-3xl">
            <div class="title-bar">
                <div class="title-bar-text">MLOX interpreter</div>
            </div>
            <p>
                Run MLOX code anywhere, powered by modern javascript!
                <small>Remember, this is a toy language </small>
            </p>
            <Codebox client:load />
        </main>
    </body>
</html>
