---
import "../../global.css";
import "./_win9x-style/theme.css";
import "./_win9x-style/skins/98.css";
import "./theme.css";
import { Codebox } from "./codebox";
---

<html class="h-full">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>MLOX</title>
    </head>
    <body class="font-serif desktop h-full flex justify-center items-center">
        <main id="interpreterwindow" class="window active grow max-w-3xl">
            <div class="title-bar">
                <div class="title-bar-text">MLOX interpreter</div>
            </div>
            <Codebox client:load />
        </main>
    </body>
</html>
<style is:global>
    /* This stuff enables the menu bar layout inside react parts*/
    [role="menu"],
    [role="menubar"] {
        user-select: none;
        list-style-type: none;
        display: flex;
        white-space: nowrap;
    }
    [role="menu"] {
        flex-direction: column;
    }
    [role="menu"] li,
    [role="menubar"] li {
        position: relative;
        text-overflow: ellipsis;
        cursor: default;
    }
    [role="menu"] li > ul,
    [role="menubar"] li > ul {
        position: absolute;
        z-index: 1;
        display: none;
    }
    [role="menu"] li:focus-within > ul,
    [role="menubar"] li:focus-within > ul {
        display: block;
    }
</style>
