---
import "../../global.css";
import "./_win9x-style/theme.css";
import "./_win9x-style/skins/98.css";
import { Codebox } from "./codebox";
---

<html>
    <head>
        <title>MLOX</title>
    </head>
    <body class="desktop flex justify-center">
        <main class="window active max-w-3xl">
            <div class="title-bar">
                <div class="title-bar-text">MLOX interpreter</div>
            </div>
            <p>
                Run MLOX code anywhere, powered by modern javascript!
                <small>Remember, this is a toy language </small>
            </p>
            <Codebox client:load />
        </main>
    </body>
</html>
